@font-face {
  font-family: Raleway-SemiBold;
  src: url(../../assets/fonts/raleway-semibold.ttf);
}

@font-face {
  font-family: Raleway-Light;
  src: url(../../assets/fonts/raleway-light.ttf);
}