:root {
    --background-color: #080516;
    --primary-color: #4518af;
    --second-color: #a7a7a7;
    --white-color: #fff;
    --menu-color: rgba(13, 4, 38, 0.7);
    --orange-color: rgb(194, 100, 13);
}