.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-50deg)
    }

    40%,
    80% {
        transform: rotate(15deg)
    }
}

@media (max-width:1280px) {

    .github-corner {
        display: none;
    }
}

@media (max-width:1280px) {

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

.github-corner {
    fill: var(--orange-color);
    color: var(--background-color);
}


::-webkit-scrollbar {
    width: 10px;
    background: var(--menu-color);
}

::-webkit-scrollbar-thumb {
    background: var(--orange-color);
    border-radius: 1px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

* {
    overflow-x: hidden
}

.title {
    text-align: center;
}


main {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    background-color: var(--background-color);
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--orange-color);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--background-color);
    height: 70px;
    border-bottom: 1px solid var(--primary-color);
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--orange-color);
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    nav {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 15px 15px 0;
    }

    nav>div {
        display: flex;
        justify-content: space-between;
        padding: 0 59px;
        width: 100%;
    }

    .nav-list {
        display: none;
        padding: 15px;
        width: 100%;
    }

    .nav-list li {
        margin-left: 0;
        padding: 20px 0;
    }

    /* .nav-list li + li {
      margin-top: 25px;
    } */

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*section presentation*/

.content-main {
    display: flex;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    padding: 15px 10px 15px;

}

@media (min-width: 600px) {
    .content-main .text {
        text-align: justify;
    }
}

@media (max-width: 1280px) {
    .wrapper .content-main {
        padding: 0;
    }
}

.content-main .greetings p {
    color: var(--second-color);
    font-size: 30px;
}

@media screen and (max-width: 999px) {
    .content-main .greetings p {
        font-size: 20px;
        text-align: center;
    }
}

.content-main .greetings h1 {
    font-family: 'raleway-semibold';
    color: var(--white-color);
    font-size: 35px;
}

@media screen and (max-width: 999px) {
    .content-main .greetings h1 {
        font-size: 30px;
        text-align: center;
    }
}

.presentation .greetings {
    width: 60%;
    margin: 10px;
    padding-left: 30px;
}

@media screen and (max-width: 999px) {
    .presentation .greetings {
        width: 100%;
        margin: 10px;
        padding-left: 0;
        height: auto;
        position: fixed;
    }
}

.gif {
    width: 480px;
    margin: auto;
    overflow-y: hidden;
}

@media screen and (max-width: 999px) {
    .gif {
        display: none;
    }
}

.gif img {
    width: 480px;
    height: 480px;
}

.gif:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.content-main .greetings button {
    margin-top: 15px;
    background-color: var(--menu-color);
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    color: var(--white-color);
    cursor: pointer;
    font-family: 'raleway-semibold';
    font-size: 20px;
    padding: 20px 50px 20px;
}

@media screen and (max-width: 999px) {
    .content-main .greetings button {
        font-size: 18px;
    }
}

@media screen and (max-width: 999px) {
    .content-main .greetings>a {
        display: flex;
        text-decoration: none;
        justify-content: center;
    }
}

.content-main .greetings button:hover {
    text-decoration: none;
    background: var(--primary-color);
    border-style: dotted;
    color: var(--white-color);
}

/*section about*/

.about {
    background-color: var(--menu-color);
    padding: 100px 0 100px;
    margin: auto;
}

.myself {
    display: flex;
    width: 100%;
    line-height: 2.0rem;
    align-items: center;
    gap: 15%;
    padding: 20px;
}

@media (max-width: 1280px) {
    .myself {
        flex-direction: column;
        width: 100%;
        display: flex;
    }
}

@media (max-width: 1280px) {
    .wrapper .myself {
        padding: 0;
    }
}

.photo {
    width: 60%;
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 1280px) {
    .photo {
        flex-direction: column;
        max-width: 300px;
        min-width: 200px;
        padding: 0px;
    }
}

.about .photo img {
    padding: 0px;
    width: 90%;
    border-radius: 50%;
    filter: grayscale(100%);
}

@media (max-width: 1280px) {
    .about .photo img {
        width: 100%;
        filter: grayscale(0%);
    }
}

.about .photo img:hover {
    background: var(--menu-color);
    box-shadow: 0 0px 15px var(--primary-color);
    filter: grayscale(0%);
    transition: 0.5s;
}

@media (max-width: 1280px) {
    .about .photo img:hover {
    box-shadow: none;
    }
}

.text h2 {
    width: 200px;
    overflow: hidden;
    font-family: 'raleway-semibold';
    font-size: 35px;
    color: var(--white-color);
}

@media (max-width: 1280px) {
    .text h2 {
        color: var(--orange-color);
    }
}

@media (max-width: 1280px) {
    .about .text h2 {
        text-align: center;
        width: 100%;
        min-width: 300px;
    }
}

.text h2:hover {
    text-decoration: none;
    color: var(--orange-color);
}

.text p {
    width: 70%;
    text-align: left;
    font-family: 'raleway-light';
    font-size: 18px;
    color: var(--second-color);
    text-align: justify;
}

@media (max-width: 1280px) {
    .about .text p {
        text-align: justify;
        width: 100%;
        max-width: 500px;
        min-width: 300px;
        flex-wrap: wrap;
    }
}

@media (max-width: 450px) {
    .about .text p {
        width: 100%;
        max-width: 250px;
    }
}

/*section contacts*/

.contacts .grid {
    display: flex;
    width: 100%;
    gap: 20px;
    padding-bottom: 100px;
    flex-direction: row;
    box-sizing: border-box;
}

@media (max-width: 1280px) {
    .contacts .grid {
        flex-wrap: wrap;
    }
}

.contacts .grid>div {
    flex: 1 1 400px;
    margin: 5px;
}


#contacts h2 {
    width: 185px;
    margin: auto;
    padding: 100px 0 100px;
    font-size: 35px;
    color: var(--white-color);
}

@media (max-width: 1280px) {
    #contacts h2 {
        color: var(--orange-color);
    }
}

#contacts h2:hover {
    text-decoration: none;
    color: var(--orange-color);
}

.grid .icon {
    text-align: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 1280px) {
    .grid .icon {
        padding: 20px;
    }
}

.grid .icon>div img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

@media (max-width: 1280px) {
    .grid .icon>div img:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.grid .icon>div img {
    width: 30px;
}

.grid .icon>strong {
    color: var(--white-color);

}

.grid .icon>p {
    color: var(--second-color);
}

.grid .icon+.icon {
    margin-top: 20px;
}

@media (min-width: 1280px) {
    .grid .icon+.icon {
        margin: 0 auto;
    }
}

/* section Projects */

.projects {
    background-color: var(--menu-color);
    overflow-y: hidden;
}

#projects h2 {
    width: 185px;
    margin: auto;
    padding: 100px 0 100px;
    font-size: 35px;
    color: var(--white-color);
}

.project img{
    margin: auto;
    font-size: 35px;
    color: var(--white-color); 
    width: 100%;    
}

@media (max-width: 1280px) {
    #projects h2 {
        color: var(--orange-color);
    }
}

#projects .grid {
    padding-bottom: 100px;
}

.content-projects {
    margin: auto;
    display: grid;
    align-items: center;
    max-width: 1280px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
    grid-gap: 20px;
    justify-content: center;
    padding: 20px;
}

#p1.project {
    margin: 2px;
    padding: 20px 20px 20px 20px;
    background-color: var(--background-color);
    border-radius: 5px;
}

#p2.project {
    margin: 2px;
    padding: 20px 20px 20px 20px;
}

@media (max-width: 1280px) {
    #p1.project { 
        border: 2px solid var(--primary-color);
    }
}

#p1.project:hover {
    background: var(--menu-color);
    box-shadow: 0px 0px 10px var(--primary-color);
}

@media (max-width: 1280px) {
    #p1.project:hover {
        background: var(--background-color);
        box-shadow: none;
    }
}

.project .imgProject {
    height: 350px;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .project .imgProject {
        height: 250px;
    }
}

@media (max-width: 375px) {
    .project .imgProject {
        height: 200px;
    }
}

#p2.project img {
    background-color: var(--background);
    height: auto;
    filter: grayscale(0%);
    padding: 10px;
}

#p2.project img:hover {
    filter: grayscale(100%);
}

@media (max-width: 1280px) {
    #p2.project img:hover {
        filter: grayscale(0%);
    }
}

#projects h2:hover {
    text-decoration: none;
    color: var(--orange-color);
}

.projects .project h3 {
    margin: 0;
    width: 100%;
    color: var(--white-color);
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    
}

.projects .project p {
    color: var(--second-color);
    padding-top: 20px;
    font-size: 16px;
}

@media (max-width: 500px) {
    .projects .project p {
        font-size: 14px; 
    }}

.projects .project p+p {
    padding-top: 0px;
}

.projects .project .linkedButtons {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

@media (max-width: 500px) {
    .projects .project .linkedButtons {
        gap: 25px;
    }
}

.projects .project button {
    padding: 10px 10px;
    font-size: 16px; 
    background: var(--menu-color);
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    color: var(--white-color);
    cursor: pointer;
    font-family: 'raleway-light';
}

.projects .project button:hover {
    text-decoration: none;
    background: var(--primary-color);
    border-style: dotted;
    color: var(--white-color);
}

@media (max-width: 1280px) {
    .projects .project button {
        font-size: 14px;
    }
} 
/* section skills */

.skills {
    background-color: var(--background-color);
}

#skills h2 {
    width: 310px;
    margin: auto;
    padding: 100px 0 80px;
    font-size: 35px;
    color: var(--white-color);
}

@media (max-width: 1280px) {
    #skills h2 {
        color: var(--orange-color);
    }
}

#skills h2:hover {
    text-decoration: none;
    color: var(--orange-color);
}

#skills .grid {
    padding-bottom: 125px;
}

.skills .content-skills {
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
    width: 100%;
}


@media (min-width: 1280px) {
    .skills .content-skills {
        flex-direction: row;
    }
}


@media (min-width: 1280px) {
    .skills .content-skills>div {
        width: 45%;
        align-items: center;
    }
}

.content-skills {
    box-sizing: border-box;
    color: var(--white-color);
    display: flex;
    padding: 15px;
    font-size: 14px;
    justify-content: center;
    overflow-y: none;
}

.skill>img {
    max-height: 100%;
    height: 40px;
}

@media (min-width: 1280px) {
    .content-skills>.skill>img {
        margin-left: 2em;
    }
}

.skill>div {
    margin-left: 2em;
    margin-right: 15px;
    margin-top: 15px;
}

.skill>div>p {
    width: 100%;
    margin-top: 15px;
    text-align: left;
    overflow-y: hidden;
}

@media (min-width: 1280px) {
    .skill>div>p {
        display: flex;
        text-align: justify;
    }
}

.skill {
    background-color: var(--background-color);
    font-family: 'raleway-light';
    text-align: justify;
    background-color: var(--menu-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--white-color);
    word-wrap: break-word;
    width: 100%;
}

@media (max-width: 1280px) {
    .skill {
    width: 70%;
    min-width: 250px
    }
}

.skill:hover {
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
    text-decoration: none;
    background: var(--primary-color);
    color: var(--white-color);
}

@media (max-width: 1280px) {
    .skill:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        text-decoration: none;
        background: var(--menu-color);
        color: var(--white-color);
        overflow-y: none;
    }
}


/* Services */

#services {
    background-color: var(--menu-color);
    padding-top: 80px;
    padding-bottom: 50px;
}

#services h2 {
    width: 310px;
    margin: auto;
    padding-bottom: 40px;
    font-size: 35px;
    color: var(--white-color);
}

@media (max-width: 1280px) {
    #services h2 {
        color: var(--orange-color);
    }
}

#services h2:hover {
    text-decoration: none;
    color: var(--orange-color);
}

.services .grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.services .content-services {
    gap: 10px;
}

@media (min-width: 1280px) {
    .services .content-services {
        flex-direction: row;
    }
}

@media (max-width: 1280px) {
    .card {
        overflow-y: none;
    }
}

.card:hover {
    background: var(--background-color);
    box-shadow: 0 0px 15px var(--primary-color);
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
}

@media (max-width: 1280px) {
    .card:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        box-shadow: none;
    }
}

.content-services {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    margin: 24px 0px;
    justify-content: center;
}

@media (max-width: 1280px) {
    .content-services {
        overflow-y: none;
    }
}

.content-services div {
    flex: 1 1 380px;
    min-width: 300px;
}

.card {
    width: 25%;
    margin: 15px;
    padding: 25px 5px 5px 5px;
    height: auto;
    background-color: var(--background-color);
    border-bottom: 6px solid var(--primary-color);
    border-radius: 5px;
    text-align: center;
}

#services .content-services div img {
    padding-top: 35px;
    width: 55px;
    overflow-y: hidden;
}

#services .content-services div strong {
    font-size: 1.5rem;
    font-weight: 3.125;
    font-family: 'raleway-semibold';
    color: var(--white-color);
}

#services .content-services div p {
    padding: 50px 12px 15px 12px;
    text-align: center;
    color: var(--white-color);
    margin: 0;
    font-size: 18px;
}

/* footer */

footer {
    color: var(--second-color);
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

footer .wrapper {
    border-top: 1px solid var(--second-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: auto;
    padding-top: 5px;
}